#random-button {
  padding: 8px;
}

#errorsSlider {
  padding-top: 10px;

}

.form-label::after {
  height: 12px;

}

.form-label {
  height: 38px;
  padding-right: 4px;
}

#id-col {
  width: 216px;
}
