#random-button {
  padding: 8px;
}

#errorsSlider {
  padding-top: 10px;
}

.form-label::after {
  height: 12px;
}

.form-label {
  height: 38px;
  padding-right: 4px;
  font-size: larger
}

.form-floating>label {
  padding: 0.75rem 0.75rem;
}

#id-col {
  width: 216px;
}

.col-4 {
  width: 384px;
}

.slider {
  padding-left: 40px;
}
